<div class="notification-container">
  @for (notification of notifications; track notification.id) {
  <div
    class="notification-toast"
    [ngClass]="'notification-' + notification.type"
    [class.notification-show]="true"
    [class.notification-enter]="true"
  >
    <div class="notification-icon">
      <i class="bi" [ngClass]="'bi-' + notification.icon"></i>
    </div>

    <div class="notification-content">
      <div class="notification-message">{{ notification.message }}</div>
    </div>
  </div>
  }
</div>
